body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow-x: hidden; /* 가로 스크롤 제거 */
  background-color: #4b0e9f;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Nanum_SonGeurSsi";
  font-style: normal;
  src: local("NanumSonGeurSsi"),
    url("./fonts/NanumHaNaSonGeurSsi.ttf") format("truetype");
  font-display: swap; /* 폰트 로딩 시 fallback 폰트 먼저 표시 */
}

@font-face {
  font-family: "Pacifico_Regular";
  font-style: normal;
  src: local("PacificoRegular"),
    url("./fonts/Pacifico-Regular.ttf") format("truetype");
  font-display: swap; /* 폰트 로딩 시 fallback 폰트 먼저 표시 */
}
